# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import GOOGLE_MAPS_API_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath='summary_cities .csv'
weather_data=pd.read_csv(csvpath)
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,aljezur,100,PT,1579140568,96,37.32,-8.80,60.01,8.01
1,ahipara,45,NZ,1579140570,75,-35.17,173.17,75.99,1.01
2,humaita,29,BR,1579140571,92,-7.51,-63.02,74.57,1.66
3,kungurtug,77,RU,1579140573,78,50.60,97.52,-1.07,0.47
4,kijang,99,KR,1579140574,47,35.24,129.21,33.80,6.93

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=GOOGLE_MAPS_API_key)

# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)

humidity=weather_data["Humidity"]
max_humidity=weather_data["Humidity"].max()
max_humidity

100

In [4]:
# Create a Humidity Heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#convert the max temp values to float values
weather_data["Max Temp"].astype(float)
#use .loc to return only those values with ideal weather conditions
ideal_weather=weather_data.loc[(weather_data["Max Temp"]<80)&(weather_data["Max Temp"]>70)&
                              (weather_data["Wind Speed"]<=10)&(weather_data['Cloudiness']==0)]
ideal_weather.dropna()
ideal_weather
#ideal_weather["City"].count()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,mataura,0,NZ,1579140596,47,-46.19,168.86,76.53,1.90
48,port alfred,0,ZA,1579140407,96,-33.59,26.89,71.01,4.59
69,prado,0,BR,1579140660,86,-17.34,-39.22,79.11,8.03
93,axim,0,GH,1579140695,94,4.87,-2.24,77.00,3.11
156,acajutla,0,SV,1579141215,62,13.59,-89.83,77.00,4.00
158,saint-pierre,0,RE,1579141218,73,-21.34,55.48,78.80,4.70
177,kpandae,0,GH,1579141240,26,8.47,-0.01,75.97,5.39
304,san onofre,0,CO,1579142310,75,9.74,-75.53,77.56,6.67
331,saint-joseph,0,RE,1579142345,73,-21.37,55.62,78.80,4.70
425,malakal,0,SS,1579142463,22,9.53,31.66,70.84,5.06
426,governador valadares,0,BR,1579142345,94,-18.85,-41.95,72.09,3.74
468,warmbad,0,NaN,1579142519,37,-28.45,18.73,76.57,0.58
526,pathein,0,MM,1579142587,56,16.78,94.73,79.61,4.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#define locations to be searched for
ideal_locations=ideal_weather[["Lat", "Lng"]].astype(float)
ideal_locations=ideal_locations.reset_index()
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#list to hold the hotel names
latitudes=pd.Series(ideal_locations["Lat"])
longitudes=pd.Series(ideal_locations["Lng"])
#latitudes
ideal_locations
#remove row of dataframe for which no hotel exists within 5000m (index=11)-did this after getting errors in the for loop below

new_locations=ideal_locations.drop(index=11)

In [7]:
final_locations=new_locations.reset_index(drop=True)
final_locations

    index    Lat     Lng
0      20 -46.19  168.86
1      48 -33.59   26.89
2      69 -17.34  -39.22
3      93   4.87   -2.24
4     156  13.59  -89.83
5     158 -21.34   55.48
6     177   8.47   -0.01
7     304   9.74  -75.53
8     331 -21.37   55.62
9     425   9.53   31.66
10    426 -18.85  -41.95
11    526  16.78   94.73

In [8]:
index=0
responses=[]
ideal_hotels=[]
hotel_latitudes=[]
hotel_longitudes=[]

for index in range(0,len(final_locations["Lat"])):
    try:
        latitude=final_locations.iloc[index,1]
                   
        longitude=final_locations.iloc[index,2]
    
        # geocoordinates
        target_coordinates = f"{latitude},{longitude}"
        target_radius = 5000
        target_type = "hotel"
    
        # set up a parameters dictionary
        params = {
            "location": target_coordinates,
            "radius": target_radius,
            "type": target_type,
            "key": GOOGLE_MAPS_API_key
        }

    
        print(f"Retrieving Results for location: {latitude,longitude}")
        hotel_data=requests.get(base_url,params=params).json()
        responses.append(hotel_data)
    
        hotel_name=hotel_data["results"][1]["name"]
        ideal_hotels.append(hotel_name)
        
        hotel_latitude=hotel_data["results"][1]["geometry"]["location"]["lat"]
        hotel_latitudes.append(hotel_latitude)
        
        hotel_longitude=hotel_data["results"][1]["geometry"]["location"]["lng"]
        hotel_longitudes.append(hotel_longitude)
        
        index += 1
    except:
        print("whoops")
hotel_latitudes

Retrieving Results for location: (-46.19, 168.86)
Retrieving Results for location: (-33.59, 26.89)
Retrieving Results for location: (-17.34, -39.22)
Retrieving Results for location: (4.87, -2.24)
Retrieving Results for location: (13.59, -89.83)
Retrieving Results for location: (-21.34, 55.48)
Retrieving Results for location: (8.47, -0.01)
Retrieving Results for location: (9.74, -75.53)
Retrieving Results for location: (-21.37, 55.62)
Retrieving Results for location: (9.53, 31.66)
Retrieving Results for location: (-18.85, -41.95)
Retrieving Results for location: (16.78, 94.73)

[-46.2019435,
 -33.5943286,
 -17.3444554,
 4.8671979,
 13.5950758,
 -21.3441463,
 8.4705282,
 9.739147700000002,
 -21.3767394,
 9.5173835,
 -18.8580468,
 16.7938471]

In [9]:
City=pd.Series(ideal_weather["City"])
Country=pd.Series(ideal_weather["Country"])
City.pop(468)
Country.pop(468)


hotel_longitudes

[168.8550432,
 26.89324779999999,
 -39.2196679,
 -2.2339864,
 -89.8245678,
 55.4717534,
 -0.0116586,
 -75.5261527,
 55.6023246,
 31.662536,
 -41.9453027,
 94.7573376]

In [10]:
hotel_df=pd.DataFrame({"Hotel Name":ideal_hotels,"City":City,"Country":Country,"Hotel Lat":hotel_latitudes,
                       "Hotel Lng":hotel_longitudes})
hotel_df.head()
hotel_df.reset_index(drop=True)

,Hotel Name,City,Country,Hotel Lat,Hotel Lng
0,Ellie's Villa,mataura,NZ,-46.201943,168.855043
1,The Halyards Hotel,port alfred,ZA,-33.594329,26.893248
2,INN CORNER RIVER - PRADO - BAHIA - HOUSING AND...,prado,BR,-17.344455,-39.219668
3,AXIM BEACH RESORT AND SPA,axim,GH,4.867198,-2.233986
4,"Constructora Umaña, S.A.",acajutla,SV,13.595076,-89.824568
5,Alizé Plage,saint-pierre,RE,-21.344146,55.471753
6,Kpandai ECG Hospital,kpandae,GH,8.470528,-0.011659
7,Esquina Del Guty,san onofre,CO,9.739148,-75.526153
8,Margayillat,saint-joseph,RE,-21.376739,55.602325
9,Yor Store,malakal,SS,9.517383,31.662536
10,Hotel Panorama,governador valadares,BR,-18.858047,-41.945303
11,Pathein Hotel,pathein,MM,16.793847,94.757338

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [12]:
# Add marker layer ontop of heat map
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))